<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="service" class="ru.itis.services.PrintMessagesServiceImpl">
        <constructor-arg name="printer" ref="printer"/>
        <constructor-arg name="messageProcessor" ref="processor"/>
    </bean>

    <bean id="printer" class="ru.itis.printers.PrinterErrorImpl">
        <property name="prefix" value="MESSAGE"/>
    </bean>

    <bean id="processor" class="ru.itis.messages.MessageProcessorReplacerImpl">
        <constructor-arg name="toReplace" value="java"/>
    </bean>

</beans>